
    
    <!-- end row -->


      <div class="col-md-4 intro">
      

        <p>Someone who is trying to learn coding to get a better future for herself.<br> I am a very determined person. <br>I love to travel and try new things in life.<br> Trying new thing and experiencing it will give me skills and learn to grow.<br> Coding is the future.</p>
      </div>


    <div class="row">
      <div class="col-md-12 main_text">
        <h4>My Story</h4>


        <p>Changes could be make possible if we start now. I always think being a web developer is just a dream. But little did I know, It happen. Just like magic. I was unhappy with my old job. Standing long hours, not enough sleep and small amount of salary. I thought that was my fate. But its not. Choices is what happen to me. I've become curious about how all this people who was once like me, dream of something extra ordinary. When people look down on them, They will never stong believing in creating something that they love. That is what I called hope.</p>
      </div>
      <!-- /main_text -->
    </div>
    <!-- /row -->
  </div>
  <!-- end container about -->
