<header>
  <h1>About Page</h1>
</header>
<br>
<br>
<h3>I'm a Junior Web Developer</h3>
<br>
<div class="container-fluid anchor" id="about">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4" id="profile-img">
      <%= image_tag("dila.jpg", class: "img-responsive") %>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="intro">

      <h3>Introduction</h3>
      
      <p>
Someone who is trying to learn coding to get a better future for herself.<br> I am a very determined person. <br>I love to travel and try new things in life.<br> Trying new thing and experiencing it will give me skills and learn to grow.<br> Coding is the future.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="skills">
      <h3>My Skills</h3>
      <ul id= "skill-list">
        <li>HTML5</li>
        <li> CSS3</li>
        <li> Javascript</li>
        <li> jQuery</li>
        <li>Ruby</li>
        <li> Ruby on Rails</li>
        <li> Python</li>
      </ul>
    </div>
  </div> <!-- /row-->
</div> <!-- /container-->
