// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width: 100%;
  margin-bottom: 10px;
}

#product-outline a {
  color: black;
}

.row p {
  font-size: 1.5em;
}

.product-links p {
  font-size: 1em;
}

.rate-product {
  margin-top: 30px;
}

.new-product-button {
  font-size: 1.5em;
  text-align: left;
  margin-left: 30px;
  margin-bottom: 20px;
}

form {
  text-align: left;
}

.payment form {
  text-align: center;
  margin-bottom: 10px;
}

.rated {
  text-align:center;
 }
 
 .rating {
   text-align:center;
 }
 
 .apple_pagination {
   background: #f1f1f1;
   border: 1px solid #e5e5e5;
   text-align: center;
   padding: 1em;
   cursor: default; 
 }
 .apple_pagination a, .apple_pagination span {
   padding: 0.2em 0.3em; 
 }
 .apple_pagination .disabled {
     color: #aaaaaa; 
 }
 .apple_pagination .current {
   font-style: normal;
   font-weight: bold;
   background-color: #38E2E0;
  display: inline-block;
   width: 1.4em;
   height: 1.4em;
   line-height: 1.5;
   -moz-border-radius: 1em;
   -webkit-border-radius: 1em;
   border-radius: 1em;
   text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; 
 }
 .apple_pagination a {
   text-decoration: none;
   color: black; 
 }
 .apple_pagination a:hover, .apple_pagination a:focus {
   text-decoration: underline; 
 }
 
.alert.alert-info-review {
  color: green;
  padding-top: 50px;
}


.text-center{
  color: green;
  padding-top: 40px;
}

