// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
 // Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  padding: 0px;
}

h1 {
  color: pink;
  font-family: Helvetica;
  text-alignment: center;
  padding-bottom: 2%;
  padding-right:25%;
}

/*** Navbar ***/
nav ul li {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  font-family: Helvetica, Arial, sans-serif;
  }

nav {
  background-color: #424242;
}

thead tr th {
  letter-spacing: 0.2em;
}

#description {
  padding-left: 10%;
}
#image {
  padding-left: 20%;
}
/* portfolio image grids */
/* Large desktop */
@media (min-width: 1200px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }

/*** Search ***/
.search {
  color: black;
}
.center{
text-align:center;
padding-left:15%;
padding-top:5%;
}
/**** Contact ****/

#contact {
  background-image: url(/assets/laptop.jpg);
  /*Add a background image*/
  background-attachment: fixed;
  /*Give the background a fixed position does it not scroll when you scroll*/
  background-size: cover;
   color: white;
   font-size: 20px;
   font-family: 'kepler-std-semicondensed-dis', Georgia, Times New Roman, serif;
/*Change the color of the text on top so it is readable, and adjust the padding as needed.*/
    height: 100%;
    padding-right: 20%;
    padding-left: 20%;
  
}
.fontbold {
  font-weight: 700;
  padding-bottom: 1em;
}

.text-highlight {
  color: #ffc740;
  font-weight: 200;
}

.highlight {
  text-decoration-line: 10px solid rgba(255, 198, 66, 0.5); 
 
}
.glyphicon {
  vertical-align: center;
  padding-top: none;
}

.border-wrap {
  border-bottom: 1px solid black;
  color: #999;
  font-size: 1.2em;
  font-weight: 300;
  padding-bottom: 0.5em;
  padding-top: 2em;
  vertical-align: text-top;
}

.send-button {
  background-color: #ffc740;
  text-align: center;
  float: right;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.5em 2em 0.5em 2em;
  margin-top: 1em;
}
/*** contact-form ***/
.form-control {
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border: 1px dashed black;
  border-radius: 0;
  box-shadow: none;
}

.form-group {
  font-size: 1.6em;
  padding-top: 1em;
}

.form-group label {
  font-weight: 300;
}

/*about*/
.about {
  color: white;
  background-image:url(/assets/travel.jpg);
  background-size:cover;
  background-attachment:fixed;
  padding-top: 0%;

}

.header h1 {
  text-align: center;
  margin: 5% 0;
  padding-top:5%;
  padding-left:18%;
}


.image {
  display: inline-block;
  float: left;
  padding-bottom: 5px;
}

.main_text {
  position: relative;
  clear: both;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  font-size: 20px;
  font-family: 'kepler-std-semicondensed-dis', Georgia, Times New Roman, serif;
}

.full-width {
  width: 100%;
}

.skills{
  background-color:#389FE2;
  color: #FFF;
 padding: 5%;
  }
.skills h3{
  text-align: center;
  text-transform: uppercase;
  font-size: em;
  
}

#skill-list {
  margin-left: 10px;
  font-size: 16px;
}

/* footer navigation */

.bg-footer {
  color: white;
  background-color: #2471A3;
  
   
}
/***footer**/
.footer-element {
  float:right;
  padding: 10px;
}

/* Typography about page */

.about h1,
.about h2,
.about h3 {
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.about p, 
.about li {
  font-family: Georgia, Times, Times New Roman, serif
}
.intro{
  padding: 5%;
}
.intro p{
  font-family: 'Amatic SC', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 100;
  /* does this belong in typography section or not? */
    -webkit-margin-before: 0em;
}


/*Typography*/

.bg-font{
  background-color: #44f;
  color: #333300;
  padding: 0px 3px;
  font-family: 'Oswald' , Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-top: 0;
}

.font-serif{
  font-family: 'kepler-std-semicondensed-dis', Georgia, Times New Roman, serif;
}