<br>
<h1>New Product</h1>
      <div class="col-md-6">
        <%= render 'form', product: @product%>
      </div>
        <%= link_to 'Back', products_path %>
        <%= link_to 'Edit', products_path %>
      </p>
  </div>
</div>