<br>
<h1>New Product</h1>
      <br>
      <div class="row">
      <div class="col-sm-4">
        <%= render 'form', product: @product%>
      </div>
     </div>
        <div class="row">
      <div class="col-sm-4">
           <%= link_to 'Back', products_path %>

      </div>
     </div>
      <br>
      <br>
      
 