<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Nameofapp</title>
=======
    <title>TravellerWonders</title>
>>>>>>> b1f71d6cd54511936b14c4f4e2774331d2206377
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
